.container {
  margin: auto;
  width: 300px;
}

.table {
  display: table;
  border-color: black;
  width: 300px;
  }
  
.row {
  display: table-row;
  border-color: black;
  width: 100%;
  }
  
.grid {
  display: table-cell;
  width: 100px;
  height: 100px;
  border:1px solid black;
  text-align: center;
  vertical-align: middle;
  font-size: xx-large;
  }

.gameText{
    font-family: Arial, sans-serif;
    font-weight: normal;
    color: brown;
  }
  
.roundTextBold {
  font-family: Arial, sans-serif;
  font-weight: bold;
  color: blue;
  margin-bottom: 10px;
  text-align: center;
}

.winnerTextBold {
  font-family: Arial, sans-serif;
  font-weight: bold;
  color: blue;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
}

.gameTextBold {
  font-family: Arial, sans-serif;
  font-weight: bold;
  color: blue;
}

.h1 {
  font-family: Arial, sans-serif;
  font-weight: bold;
  font-size: 32px;
}

.buttons {
  margin-top: 10px;
}

#header {
  text-align: center;
}

#resetButton {
  background-color: green;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  border-radius: 2px;
  float: left;
  margin-right: 25px;
}

#resetGameButton {
  background-color: red;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  border-radius: 2px;
}